//widths
.width-100{ width: 100%; }
.width-80{ width: 80%; }
.width-60{ width: 60%; }
.width-40{ width: 40%; }

//displays
.block{ display:block; }

//floats
.float-right{ float:right; }
.float-left{ float:left; }

//padding
.no-padding{padding: 0 !important; }

//margins
.no-margin{margin: 0 !important;}
.margin-bottom-small{ margin-bottom: 1.0rem; }
.margin-bottom-medium{ margin-bottom: 1.5rem; }
.margin-bottom-large{ margin-bottom: 2.0rem; }
