//sizes
$primary-size: 62.5%;

//colors taken from flat color pallette https://flatuicolors.com/palette/defo
//color pallette
$background-primary-color: #bdc3c7;

$dark-text-color: #36434E;
$light-text-color: #ffffff;

$primary-color: #e67e22;
$secondary-color: #34495e;
$tertiary-color: #dde0e2;
$quaternary-color:#bdc3c7;
$success-color: #2ecc71;
$danger-color: #e74c3c;
$warning-color: #f1c40f;
$info-color: #3498db;
$white-color: #ffffff;

$shadow: 0 0 1.0rem 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.14);