<app-alert 
  icon='fa-calculator'
  title='SN Calculator'
  message='Write a Single Page Application that allows the user to input an expression, validates the expression (on every keypress) and evaluates the result. If the expression inputted by the user is invalid an error message should be displayed.'
>
</app-alert>

<div class="flex-container">
  <div class="form-container no-padding calculator">
    <div class="calculator-display">
      <input class="calculator-display-big" type="text" disabled id="displayedOutput" [(ngModel)]="displayedOutput" >
      <input type="text" disabled id="displayedInput" [(ngModel)]="displayedInput" >  
    </div>
    <app-calcinputs class="calculator-controls" (clickedInput)="keyPress($event)" (clearedInput) ="removeLast()" ></app-calcinputs>
  </div>
</div>
