<app-alert 
  icon='fa-search'
  title='Expression Evaluator'
  message='Given a valid expression evaluate. For example, sin(30) + cos(20) = −0.5799495623.'
>
</app-alert>

<div class="flex-container">
  <div class="form-container">
    <div class="form-input">
      <label for="textEvaluator">Expression</label>
      <input type="text" [(ngModel)]="userInput" autocomplete="off" class="input" id="textEvaluator" placeholder="Enter expression">
      <small class="label label-info" *ngIf="this.result">The result is: {{ this.result }}</small>
    </div>
    <button (click)="evaluate()" class="button button-primary float-right">Evaluate expression</button>
  </div>
</div>

