<div class="alert alert-primary" role="alert">
    Write program that reads a mathematical expression and determines whether such an expression is valid. For this exercise consider only the following operators: +, −, ∗, /,sin, cos, tan.
</div>

<div>
  <div class="form-group">
    <label for="textValidator">Expression</label>
    <input type="text" (keyup)="keyPress($event)" class="form-control" id="textValidator" placeholder="Enter expression">
    <small class="form-text text-success" *ngIf="this.result">{{ this.result }}</small>
  </div>
</div>
