
  <app-alert 
  icon='fa-clipboard-check'
  title='Expression Validator'
  message='Write program that reads a mathematical expression and determines whether such an expression is valid. For this exercise consider only the following operators: +, −, ∗, /,sin, cos, tan.'
  >
  </app-alert>

<div class="flex-container">
  <div class="form-container">
    <div class="form-input">
      <label for="textValidator">Expression</label>
      <input type="text" (keyup)="keyPress($event)" autocomplete="off" class="input" id="textValidator" placeholder="Enter expression">
      <small class="label label-success" *ngIf="this.result">{{ this.result }}</small>
    </div>
  </div>
</div>