//coloring - taken from https://www.materialui.co/flatuicolors
$primary-color: #e67e22;
$secondary-color: #34495e;

//custom styling
.btn{
    border: none;
}

.btn, 
.form-control,
.alert{
    border-radius: 0;
}

//helper classes
.btn-primary{
    background-color: $primary-color;

    &:hover{
        background-color: $secondary-color;
    }
}

.m-b-md{
    margin-bottom: 20px;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}